<div class="row-fluid">
	<div class="col-md-3">
		<div class="well well-sm">
			<div ng-cloak ng-show="searches" class="list-group">
			  <a class="list-group-item" ng-repeat="search in searches" href="#/search/{{search.id}}" ng-class="{true:'active'}[selected.id == search.id]">
			    <h5 class="list-group-item-heading">
			    	Search Query {{$index+1}}
			    </h5>
			    <small class="list-group-item-text text-muted">{{search.created | date:'EEEE, MMMM d,y @ h:mm a'}}</small>
			  </a>
			</div>
			<div ng-cloak ng-hide="searches" class="list-group">
			  <a class="list-group-item" href="#/search/new">
			    <h5 class="list-group-item-heading">
			    	Example search query
			    </h5>
			    <small class="list-group-item-text text-muted">Create your first search query.</small>
			  </a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div ng-cloak ng-hide="searches" class="jumbotron">
      <h3>Hello {{authUser.email}}</h3>
      <p>This must be your first time using Patty. Patty allows you to search multiple Craigslist locations for single or multiple items that are for sale.</p>
      <p>After creating a search query, you can select it anytime on the left to run the query.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="#/search/new">Create your first search query</a>
      </p>
    </div>
		<div ng-cloak ng-show="selected" class="panel panel-default">
		  <div class="panel-heading">
		  	<strong>Query</strong>
		  	<button class="btn btn-default btn-xs pull-right" ng-click="removeSearch(selected)"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		  <table class="table table-striped table-condensend">
        <thead>
          <tr>
            <th>#</th>
            <th>Location</th>
            <th>Items</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="location in selected.locations">
            <td>{{$index+1}}</td>
            <td>{{location}}</td>
            <td><span class="label label-default" ng-repeat="item in selected.items">{{item.query}}</span> </td>
          </tr>
        </tbody>
      </table>
		  <div class="panel-footer">
		  	<small class="text-muted">Created: {{selected.created | date:'EEEE, MMMM d,y @ h:mm a'}}</small>
		  	<button class="btn btn-primary pull-right" ng-click="runSearch(selected)">Run</button>
		  	<div class="clearfix"></div>
		  </div>
		</div>
		<div ng-cloak ng-show="selected.results" class="panel panel-default">
			<div class="panel-heading">
				<strong>{{selected.resultsCount|number}} Results</strong>
				<button class="btn btn-default btn-xs pull-right" ng-click="removeResults(selected)"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
			<div class="panel-body">
		  	<div ng-cloak ng-repeat="result in selected.results" ng-hide="result.results" class="alert alert-warning">
		  		<a class="close" data-dismiss="alert" href="#" aria-hidden="true" ng-click="removeResult(selected, result)">&times;</a>
		  		<strong>Hey!</strong>
		  		<p>We did not find any results in <b>{{result.query.location}}</b> for <b>{{result.query.query}}</b>.</p>
		  	</div>
		  	<div ng-cloak ng-repeat="result in selected.results" ng-show="result.results" class="list-group">
				  <a href="{{item.link}}" target="_blank" class="list-group-item" ng-repeat="item in result.results">
				    <small class="text-muted">{{item.date | date:'shortDate'}}</small>
				    -
				    <span class="text-info">{{item.title[0]}}</span>
				    <small class="pull-right">
				    	<span class="glyphicon glyphicon-map-marker"></span> {{result.query.location}} 
				    	-
				    	<span class="glyphicon glyphicon-search"></span> {{result.query.query}}
				    </small>
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>