<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div ng-cloak ng-show="currentStep.if(1)" class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">1. What locations do you want to search?</h3>
		  </div>
		  <div class="panel-body">
		    <div ng-cloak ng-hide="data.locations.length > 0" class="alert alert-info">
				  <strong>Heads up!</strong> You need to add at least 1 location.
				</div>
		    <ul class="list-group">
				  <li class="list-group-item" ng-repeat="city in data.locations">
				  	<button class="btn btn-default btn-xs pull-right" ng-click="data.locations.splice($index,1)"><span class="glyphicon glyphicon-trash"></span></button>
				    <b>{{$index+1}}.</b> {{city}}
				  </li>
				  <li class="list-group-item">
				  	<form class="form-inline">
				  		<div class="form-group">
				  			<input type="text" class="form-control" placeholder="Location" ng-model="city"/>
				  		</div>
				  		<button type="submit" class="btn btn-default" ng-click="data.locations.push(city); city = null"><span class="glyphicon glyphicon-plus-sign"></span> Add Location</button>
				  	</form>
				  </li>
				</ul>
		  </div>
		  <div class="panel-footer">
		  	<button ng-class="{true:'btn-primary',false:'btn-default'}[data.locations.length > 0]" ng-disabled="data.locations.length == 0" class="btn btn-default pull-right" ng-click="currentStep.is(2)">Next</button>
		  	<div class="clearfix"></div>
		  </div>
		</div>
		<div ng-cloak ng-show="currentStep.if(2)" class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	2. What items are you searching for in
		    	<span ng-repeat="city in data.locations"><span ng-show="data.locations.length > 1 && $last">and </span> <b>{{city}}</b><span ng-show="data.locations.length > 1 && !$last">, </span></span>?
		    </h3>
		  </div>
		  <div class="panel-body">
		  	<div ng-cloak ng-hide="data.items.length > 0" class="alert alert-info">
				  <strong>Heads up!</strong> You need to add at least 1 item.
				</div>
		    <ul class="list-group">
				  <li class="list-group-item" ng-repeat="item in data.items">
				  	<button class="btn btn-default btn-xs pull-right" ng-click="data.items.splice($index,1)"><span class="glyphicon glyphicon-trash"></span></button>
				    <h5>{{item.query}}</h5>
				    <span ng-cloak ng-show="item.min" class="label label-default">Min: ${{item.min}}</span>
				    <span ng-cloak ng-show="item.max" class="label label-default">Max: ${{item.max}}</span>
				    <span ng-cloak ng-show="item.pic" class="label label-default">Has Pic</span>
				  </li>
				  <li class="list-group-item">
				  	<form ng-init="item = {}" class="form-inline">
				  		<div class="form-group">
				  			<input type="text" class="form-control" placeholder="Item" ng-model="item.query"/>
				  		</div>
				  		<button type="submit" class="btn btn-default" ng-click="data.items.push(item); item = {}"><span class="glyphicon glyphicon-plus-sign"></span> Add Item</button>
				  	</form>
				  </li>
				</ul>
		  </div>
		  <div class="panel-footer">
		  	<button class="btn btn-default pull-left" ng-click="currentStep.is(1)">Back</button>
		  	<button ng-class="{true:'btn-primary',false:'btn-default'}[data.items.length > 0]" ng-disabled="data.items.length == 0" class="btn btn-default pull-right" ng-click="currentStep.is(3)">Next</button>
		  	<div class="clearfix"></div>
		  </div>
		</div>
		<div ng-cloak ng-show="currentStep.if(3)" class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	3. How often do you want to search for the items:
		    	<span ng-repeat="item in data.items"><span ng-show="data.items.length > 1 && $last">and </span><b>{{item.query}}</b><span ng-show="data.items.length > 1 && !$last">, </span></span>
		    	in
		    	<span ng-repeat="city in data.locations"><span ng-show="data.locations.length > 1 && $last">and </span><b>{{city}}</b><span ng-show="data.locations.length > 1 && !$last">, </span></span>
		    	?</h3>
		  </div>
		  <div class="panel-body">
		  	<form>
		  		<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    Daily
					    <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    Weekly
					  </label>
					</div>
		  	</form>
		  </div>
		  <div class="panel-footer">
		  	<button class="btn btn-default pull-left" ng-click="currentStep.is(2)">Back</button>
		  	<button class="btn btn-default pull-right" ng-click="submit()">Finish</button>
		  	<div class="clearfix"></div>
		  </div>
		</div>
	</div>
</div>