<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form role="form" ng-init="user = {}">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email" ng-required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" ng-required>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.rememberMe"> Keep me logged in
        </label>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-default btn-block" ng-click="auth.$createUser(user)">Register</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block" ng-click="auth.$login('password', user)">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
